//
   Created by dell on 2016/12/15.

script(src="lib/d3.min.js")
  div(class='canvas_contain',id='barCanvas',style='display:inline-block')
    canvas#myBarChart
  #svg_contain
script(src="js/barChart.js")
script(src="js/dynamic.js")
