component: FuturePage
doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible", content="ie=edge")
    title= tendency
    meta(name="description", description=description)
    meta(name="viewport", content="width=device-width, initial-scale=1")
    script(src = "lib/exporting.js")
    script(src="lib/highcharts.js")
    script(src="js/PercentagePile.js")
  body
    div(id='container',style='min-width:400px;height:400px')

