---
component: FuturePage
---
doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible", content="ie=edge")
    title= title
    meta(name="description", description=description)
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet" type="text/css" href="css/style.css")
    link(href="lib/bootstrap.css",rel="stylesheet")
    link(rel="stylesheet" ,type="text/css" ,href="css/tablestyle.css")
    script(src = "lib/jquery.js")
  body
    h1 hello world!

