form {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: absolute;
  padding-left: 150px;
  margin-top: 10px;
}

label {
  display: block;
}
.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}
