body{
  background-color: #eeeeee;
}
*{
  margin: 0px;
  padding:0px;
}
.topbody{
  width: 70%;
  margin: 0 auto;
}
.topbar{
  width:100%;
  background-color: #7761a7;
  display: inline-block;
  margin-bottom: 20px;
}
.title{
  font-weight: 600;
  font-size: 24px;
}
.topbar li{
  float:left;
}
.toplist{
  display: inline-block;
  list-style-type:none;

}
.toplist a{
  color:#FFF;
  text-decoration: none;
}
.title,.toplist a{
  display: block;
  float: left;
}
.username{
  color: white;
  display: block;
  float: right;
  position: relative;
}
.name{

  color: white;
}
.username, .toplist a{
  padding: 20px;
}
.title{
  color:#FFF;
  text-decoration: none;
  padding: 15px 30px 15px 30px;
}
.contain{
  position: absolute;
  right: 15%;
  top: 68px;
  width: 6%;
  height: 120px;
  background-color: white;
  border: #dddddd solid 1px;
  border-radius: 4px;
  font-size: 14px;
}
.contain a{
  text-decoration: none;
  outline: 0 none;
  color: #333333;
}
.downlist{
  list-style: none;
}
.downlist li{
  padding: 12px 25px;
}
.triangle{
  position: absolute;
  top: -10px;
  right: 10px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 10px solid #fff;
}
.container1{
  margin: 0 auto;
  max-width: 62%;
}
.nav_tabs{
  list-style: none;
  padding: 10px 0;
  display: table;
  content: "";
  display: inline-block;
  vertical-align: top;
  background-color: #eeeeee;
}
.nav_tabs a{
  text-decoration: none;
  outline: 0 none;
}
.nav_tabs li{
  padding: 20px 10px;
}
.active{
  background-color: #7761a7;
  color: #ffffff;
}
.normal{
  color: #7761a7;
}
.tab_content{
  overflow: auto;
  width: 60%;
  height: 600px;
  background-color: white;
}
#myBarChart{
  width: 800px;
  height: 400px;
}
#svg_contain,.canvas_contain{
  display: inline-block;
  vertical-align: top;
  background-color: white;
  padding: 2% 7% 10% 7%;
  width: 1000px;
  height: 600px;
}
.canvas_contain2{
  display: inline-block;
  vertical-align: top;
  background-color: white;
  margin-top: 30px;
  margin-left: 75px;
  padding: 2% 7% 10% 7%;
  width: 1000px;
  height: 500px;
  overflow: hidden;
}
.table_contain2{
  background-color: white;
  margin-top: 30px;
  margin-left: 75px;
  padding: 2% 7% 10% 7%;
  width: 1000px;
  height: 400px;
}
#svg_contain{
  margin: 0 auto;
  width: 74%;
}


#myPieChart{
  width: 500px;
  height: 400px;
}

.line {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
}

.twoChart1{
  width: 400px;
  height: 400px;
  float:left;
  display:inline;

}
.twoChart2{
  width: 500px;
  height: 300px;
  float:left;
  display:inline;
  padding-left: 100px;

}
.twoChart{
  width: 1000px;
  height: 600px;
}
.contain_title{
  width: 100%;
  height: 40px;
  color: #666;
  font-size: 16px;
  padding: 5px 0 0 20px;
  border-bottom: 1px solid #dddddd;
}
