select.selection
{
  width: 100px;
  height: 25px;
  line-height: 20px;
  padding-right: 20pt;
  text-indent: 4pt;
  text-align: left;
  vertical-align           : middle;
  border                   : 1px solid #acacac;
  -moz-border-radius       : 6px;
  -webkit-border-radius    : 6px;
  border-radius            : 6px;
  -webkit-appearance       : none;
  -moz-appearance          : none;
  appearance               : none;
  font-family              : Arial,  Calibri, Tahoma, Verdana;
  font-size                : 12px;
  font-weight              : 300;
  color                    : #7761a7;
  cursor                   : pointer;
  outline                  : none;
}
select.selection option
{
  padding             : 4px 10px 4px 10px;
  font-size           : 12px;
  font-weight         : normal;
  line-height         : 13px;
}
select.selection option[selected]{font-weight:bold}
select.selection option:nth-child(even) { background-color:#f5f5f5; }

/*LABEL FOR SELECT*/
label.yearSelect{ margin: 10px 30px; position: relative; display: inline-block;}
/*DOWNWARD ARROW (25bc)*/
label.yearSelect::after
{
  content                 : "\25bc";
  position                : absolute;
  top                     : 0;
  right                   : 0;
  bottom                  : 0;
  width                   : 25px;
  line-height             : 30px;
  vertical-align          : middle;
  text-align              : center;
  background              : #7761a7;
  color                   : #ffffff;
  -moz-border-radius       : 0 6px 6px 0;
  -webkit-border-radius    : 0 6px 6px 0;
  border-radius           : 0 6px 6px 0;
  pointer-events          : none;
}
