doctype html
html(class="no-js", lang="")
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible", content="ie=edge")
    title= title
    meta(name="description", description=description)
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet" type="text/css" href="css/style.css")
    link(rel="stylesheet" type="text/css" href="css/MutiBarChart.css")
    link(href="lib/bootstrap.css",rel="stylesheet")
    link(rel="stylesheet" ,type="text/css" ,href="css/datatables.css")
    link(rel="stylesheet" ,type="text/css" ,href="css/datatable.css")
    link(rel="stylesheet" ,type="text/css" ,href="css/tablestyle.css")
    link(rel="stylesheet" ,type="text/css" ,href="css/timeSelect.css")
    script(src = "lib/Chart.js")
    script(src = "lib/jquery.js")
    script(src="js/chartControl.js")
    script(src="lib/exporting.js")

  body
    h1 hello world!
