body.animated #cl-wrapper {
  opacity: 0;
  margin-left: -20px;
  transition: margin-left 600ms ease, opacity 600ms;
}
#cl-wrapper {
  display: table;
  width: 100%;
  position: absolute;
  height: 100%;
}
.cl-sidebar {
  display: table-cell;
  position: relative;
  vertical-align: top;
  padding-bottom: 200px;
}
#pcont {
  display: table-cell;
  vertical-align: top;
}
#head-nav.topbar {
  background-color: #7761a7;
  color: #fff;
  padding-left: 0;
}
#head-nav.topbar .sidebar-logo {
  display: inline-block;
  width: 220px;
  float: left;
}
#head-nav.topbar .navbar-toggle {
  box-shadow: none;
  background-color: #685298;
  border: none;
  margin-right: 15px;
}
#head-nav.topbar .navbar-nav > li > a {
  color: #fff;
}
#head-nav.topbar .navbar-nav > .active > a,
#head-nav.topbar .navbar-nav > .active > a:hover,
#head-nav.topbar .navbar-nav > .active > a:focus {
  background-color: #816bb1;
}
#head-nav.topbar .navbar-nav > .open > a,
#head-nav.topbar .navbar-nav > .open > a:hover,
#head-nav.topbar .navbar-nav > .open > a:focus {
  background-color: #816bb1;
}
#head-nav.topbar .navbar-nav > .dropdown > a .caret {
  border-bottom-color: #fff;
  border-top-color: #fff;
}
#head-nav.topbar .navbar-nav .dropdown .dropdown-menu {
  margin-top: 1px;
}
#head-nav.topbar .not-nav {
  float: right;
}
#head-nav.topbar .navbar-nav > li.button > a {
  box-shadow: none;
}
#head-nav.topbar .not-nav > .open > a,
#head-nav.topbar .not-nav > .open > a:hover,
#head-nav.topbar .not-nav > .open > a:focus {
  color: #fff !important;
}
